*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; 
    color: aliceblue; 
}

.logo{
    display: flex;
    align-items: center;
    
}

.navbar-toggler{
    background-color: aliceblue;
}

.logo img{
   max-width: 3rem;
    margin-right: .5rem;
}

.buscador{
    text-decoration: none;
    color: rgba(216, 216, 216, 0.788);
    transition: .25s;
}

.buscador:hover{
    color: white;
}

.fondo{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(90%);
    opacity: 0.87;
}
.textoFondo{
    display: grid;
    place-items: center;
}

.footer{
    width: 100%;
    background-color: rgb(69, 25, 173);
    position: absolute;
    bottom: 0;
}

.nosotros{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.textoFooter{
    text-decoration: none;
    color: rgba(216, 216, 216, 0.788);
    transition: .25s; 
}
.nosotros :hover{
    color: white;
    transition: .25s;
}

@media(max-width: 800px) {
    .fondo{
        transform: scale(65%);
    }
}
@media(max-width: 450px) {
    .fondo{
        transform: scale(50%);
    }
}

