*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    display: flex;
   background-color: rgb(107, 9, 9);
    justify-content: space-between;
    align-items: center;
    padding: 1rem; 
    color: aliceblue;  
}
a{
    text-decoration: none;
    color: aliceblue;
    
}
nav a{
    padding-right: .5rem;
   
  
}

.logo{
    display: flex;
    align-items: center;
    
}

.logo img{
   max-width: 3rem;
    margin-right: .5rem;
}

nav a:hover{
    color: goldenrod;
    transition: .25s;
}

@media ( max-width: 800px){
    .menu{
        display: flex;
        flex-direction: column;
        margin-right: 2rem;
    }  
}

.footer{
    width: 100%;
    background-color: rgb(49, 0, 0);;
    position: absolute;
    bottom: 0;
}

.nosotros{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.nosotros :hover{
    color: goldenrod;
    transition: .25s;
}















