*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: rgb(255, 255, 245);
}

.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; 
    color: aliceblue; 
}

.logo{
    display: flex;
    align-items: center;
    
}

.navbar-toggler{
    background-color: aliceblue;
}

.logo img{
   max-width: 3rem;
    margin-right: .5rem;
}

.buscador{
    text-decoration: none;
    color: rgba(216, 216, 216, 0.788);
    transition: .25s;
}

.buscador:hover{
    color: white
}

.tarjetas{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.tarjeta{
    background-color: rgba(119, 51, 245, 0.836);
    color: aliceblue;
    border-radius: 3%;
    padding: .5rem;
    margin: 1.5rem;
    font-size: .75rem;
    transition: .25s;
}

.tarjeta img{
    width: 100%;
    
}
.tarjeta:hover{
    transform: scale(112%);
}


.mapa{
    margin-top: .5rem;
    margin-bottom: 2rem;
}

@media (max-width: 900px){
    .tarjetas{
        display: grid;
        grid-template-columns: auto auto auto; 
    }
}
@media (max-width: 650px){
    .tarjetas{
        display: grid;
        grid-template-columns: auto auto; 
    }
}
@media (max-width: 420px){
    .tarjetas{
        display: flex;
        flex-direction: column; 
    }
}






